<?xml version="1.0" encoding="UTF-8"?>
<config>
    <app>
        <environment>dev</environment> <!-- dev | prod -->
    </app>
    <database>
        <host>localhost</host>
        <port>3306</port>
        <name>project</name>
        <user>root</user>
        <password>secret</password>
        <charset>utf8mb4</charset>
    </database>
</config>
